<div id="jokes" class="container" token="{{user.userId}}">
    <h1>All jokes</h1>
    <a type="button" href="/site/jokes/new" role="button" class="btn btn-primary btn-sm">Create New Joke</a>
    {{#each jokes}}
    {{#if beginRow}}
        <div class="row">
    {{/if}}
            <div id="joke-{{joke.id}}" class="col-6">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">{{joke.text}}</h5>
                    <p class="card-text">Joke description.</p>
                    <a href="jokes/{{joke.id}}" class="btn btn-primary">{{joke.text}} details</a>
                    <span id="delete-{{joke.id}}"  class="delete btn btn-primary">Delete {{joke.text}}</span>
                    </div>
                </div>
            </div>
    {{#if endRow}}
        </div>
    {{/if}}
{{/each}}
</div>

<script language="ecmascript" src="/public/js/jokes.js">
</script>


